form {
  border-bottom: 1px dashed black;
  text-align: center;
}
body {
  margin: 0;
  padding: 1em;
}

textarea {
  width: 100%;
  min-height: 10em;
}

form > button {
  width: 100%;
}

fieldset {
  display: inline;
}
